footer{
clear: both;
height: 60px;
width: 100%;
text-align: center;
margin: 0px 0px 0px 0px;
font-family: arial, helvetica;
font-weight: bold ;
font-size: 11px;
background-color: #1C97E3;

}
header{
clear: both;
height: 80px;
width: 100%;
margin: 0px 0px 0px 0px;
font-family: arial, helvetica;
font-weight: bold ;
font-size: 11px;
background-color: #1C97E3;
text-align: center;

}
img {
    max-width: 100%;
    height: auto;
}